{% extends 'layout.html' %}
{% block body%}
    <html>
        <head>
            <title>elefante</title>
            <style>
                .mural img {
                  width: 200px;
                  height: 200px;
                  object-fit: cover;
                  margin: 10px;
                  border: 1px solid #1E3932;
                  border-radius: 5px;
                }
                
            </style>
        </head>
        <br> <br> 
        <body style="text-align:center; background-color: #e7f1de;">
            <h1 style="color: #1E3932; font-family: Verdana;">ELEFANTES</h1>
            <div class="mural">
                <img src="/imagens/elefante1.jpg" alt="Foto 1" title="ELEFANTE">
                <img src="/imagens/elefante2.jpg" alt="Foto 2" title="ELEFANTE">
                <img src="/imagens/elefante3.jpg" alt="Foto 3" title="ELEFANTE">
                <img src="/imagens/elefante4.jpg" alt="Foto 4" title="ELEFANTE">
                <img src="/imagens/elefante5.jpg" alt="Foto 5" title="ELEFANTE">
                <img src="/imagens/elefante6.jpg" alt="Foto 6" title="ELEFANTE">
                <img src="/imagens/elefante7.jpg" alt="Foto 7" title="ELEFANTE">
                <img src="/imagens/elefante8.jpg" alt="Foto 8" title="ELEFANTE">
                <img src="/imagens/elefante9.jpg" alt="Foto 9" title="ELEFANTE">
                <img src="/imagens/elefante9.jpg" alt="Foto 9" title="ELEFANTE">
            

            </div>
            
        </body>
    </html>
{% endblock %}