{% extends 'layout.html' %}
{% block body%}
    <html>
        <head>
            <title>elefante</title>
            <style>
                .mural img {
                  width: 200px;
                  height: 200px;
                  object-fit: cover;
                  margin: 10px;
                  border: 1px solid #1E3932;
                  border-radius: 5px;
                }
                
            </style>
        </head>
        <br> <br> 
        <body style="text-align:center; background-color: #e7f1de;">
            <h1 style="color: #1E3932; font-family: Verdana;">ENGENHARIA</h1>
            <div class="mural">
                <img src="/imagens/engenharia1.jpg" alt="Foto 1" title="ENGENHARIA">
                <img src="/imagens/engenharia2.jpg" alt="Foto 2" title="ENGENHARIA">
                <img src="/imagens/engenharia3.jpg" alt="Foto 3" title="ENGENHARIA">
                <img src="/imagens/engenharia4.jpg" alt="Foto 4" title="ENGENHARIA">
                <img src="/imagens/engenharia5.jpg" alt="Foto 5" title="ENGENHARIA">
                <img src="/imagens/engenharia6.jpg" alt="Foto 6" title="ENGENHARIA">
                
    

            </div>
            
        </body>
    </html>
{% endblock %}