{% extends 'layout.html' %}
{% block body%}
    <html>
        <head>
            <title>home</title>
        </head>
        <body style="text-align:center; background-color: #fff6de;">
            <h1 style="color: #5d88b3;">TERMOS MÉDICOS</h1>
            <h4 style="color: #5d88b3;">PLN em Engenharia Biomédica</h4>
            <p><a href="/creditos"><button>Ir para a página de créditos</button></a></p>
            <p><a href="/home"><button>Ir para a página home</button></a></p>
        </body>
    </html>
{% endblock %}